@font-face {
  font-family: ofont;
  src: url(../fonts/ofont.ru_St.Sign.ttf);
}
@media (min-width: 768px) {
  /* Стили для широких экранов (пк) */
  body {
    display: none;
  }
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(45, 181, 240);
}
.menu{
  text-align: center;
  height: 400px;
  margin-bottom: 20px;
}
.buttons__inner{
  text-align: center;
}
.buttons__inner a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 0;
  margin-bottom: 30px;
  font-family: ofont;
}
.buttons__inner .begin{
  color: rgb(0, 26, 255);
  font-size: 40px;
  margin-bottom: 70px;
  font-weight: bold;
}