*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(../img/tat.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.space{
  height: 500px;
}

.animals{
  display: flex;
  justify-content: space-between
}
.cat img {
  position: absolute;
  right: 170px;
}