@font-face {
  font-family: ofont;
  src: url(../fonts/ofont.ru_St.Sign.ttf);
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(../img/tat-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 900px;
}
@media (min-width: 768px) {
  /* Стили для широких экранов (пк) */
  body {
    display: none;
  }
}
.space{
  height: 550px;
}
.animals{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.cat img {
  position: absolute;
  right: 180px;
  z-index: -1;
}
.bars img {
  transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  -o-transform: scale(-1,1);
  z-index: -1;
  position: absolute;
  left: 150px;
  opacity: 1;
}
footer{
  min-width: 370px;
  width: 100%;
  border: 2px solid rgb(66, 66, 235);
  min-height: 150px;
  background-color: rgb(233, 224, 224);
  font-family: ofont;
}
#who{
  border-bottom: 2px solid rgb(66, 66, 235);
  font-size: 25px;
  padding: 5px;
}
#text{
  display: flex;
  padding: 5px;
  text-align: justify;
}